.payments.FundForm .Field.id input {
    color: darkgrey;
}

.payments.FundForm .Field .isIncoming,
.payments.FundForm .Field .isOutgoing {
    display: inline-block;
    padding-right: 1em;
}

.payments.FundForm input[type=checkbox] {
    margin-right: .5em;

    /* scale checkboxes */
    -ms-transform: scale(1.25); /* IE */
    -moz-transform: scale(1.25); /* FF */
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -o-transform: scale(1.25); /* Opera */
    transform: scale(1.25);
}
