/* .payments.GenreList * {
    border: 1px dotted black;
} */

.payments.Genre ul {
    width: 100%;
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: lightskyblue;
}

.payments.Genre .data {
    width: calc( 100% - 4em );
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: .5em;
}

.payments.Genre .data .code {
    font-family: monospace;
    margin-right: .5em;
}

.payments.Genre .icon {
    color: lightcoral;
}
