.App {
    text-align: center;
    background-color: lightcoral;
}

.App > .title {
    height: 8vh;
    line-height: 8vh;
    background-color: lightsalmon;
}

.App > .title * {
    font: inherit;
    color: inherit;
    background-color: inherit;
}

.App > .title .icon {
    font-size: 1.5em;
}
