li {
    margin: 8px;
    border: 1px dotted black;
    padding: 4px;
}

li > * {
    display: inline-block;
    margin: 8px;
    border: 1px dotted black;
    padding: 4px;
}

.DateList.frame {
    height: 400px;
    overflow: auto;
}

.DateInfo {
    width: 10em;
    vertical-align: top;
}

.day-date {
    text-align: right;
    font-size: 1.25em;
}

.month-year {
    text-align: right;
    font-size: .75em;
}

.DateEntries {
    vertical-align: top;
}
