.DateList.frame {
    width: 80%;
    margin: auto;
    height: 90vh;
    overflow: auto;
}

.DateList.frame .prev .icon {
    margin-right: 1em;
}

.DateList.frame .next .icon {
    margin-left: 1em;
}

.ADate {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: lightsteelblue;
}

.DateInfo {
    width: 10em;
    display: inline-block;
    vertical-align: top;
    margin-bottom: .5em;
    color: lightcoral;
    font-weight: 700;
    text-align: left;
}

.DateInfo .dateNum {
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: .25em;
}

.DateInfo .day {
    font-size: 1em;
}

.month-year {
    padding-left: 2.75em;
    font-size: .65em;
}
