.Settings {
    width: 80%;
    margin: auto;
    height: 90vh;
    overflow: auto;
}

.section {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: lightsteelblue;
}

.section > .label {
    width: 10em;
    display: inline-block;
    vertical-align: top;
    padding: .5em;

    color: lightcoral;
    font-weight: 700;
    text-align: left;
}

.section > .data {
    width: calc( 100% - 10em );
    display: inline-block;
    vertical-align: top;
    padding: .5em;
}

.section > .data .centralDate {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: .5em;
}
