* {
    margin: 0;
    padding: 0;
  }

ul {
    list-style-type:none;
}

li {
    margin: 8px;
    border: 1px dotted black;
    padding: 4px;
}

li > * {
    display: inline-block;
    margin: 8px;
    border: 1px dotted black;
    padding: 4px;
}

.App {
    text-align: center;
}

.frame {
    height: 400px;
    overflow: auto;
}

.ItemDate {
    width: 10em;
    vertical-align: top;
}

.day-date {
    text-align: right;
    font-size: 1.25em;
}

.month-year {
    text-align: right;
    font-size: .75em;
}

.ItemContent {
    vertical-align: top;
}

