* {
    margin: 0;
    padding: 0;
  }

ul {
    list-style-type:none;
}

li {
    margin: 8px;
    border: 1px dotted black;
    padding: 4px;
}

li > * {
    display: inline-block;
    margin: 8px;
    border: 1px dotted black;
    padding: 4px;
}

.App {
    text-align: center;
}

.frame {
    height: 400px;
    overflow: auto;
}